@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*,
::before,
::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "roboto", sans-serif;
    
}

main{
    padding: 0 32px;
    
}

h2{
    padding: 32px 0;
    margin: 0;
}

h3, p{
    margin:0 ;
}
a{
    text-decoration: none   ;
    color: inherit;
}
