.city{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #F3F3F3;
    text-align: center;
    padding: 8px;

    & i{
        font-size: 25px;
    }
}