
@use "../utils/linear-gradient.scss";
@use "../layout/box-shadow.scss";
@use "../utils/mixins.scss";
@use "../utils/colors.scss";
@use"../utils/variables.scss";



.explorer{
    text-align: center;
    height: 55vw;
    margin: 25px;

& p{
    font-size:16px;
    padding: 5px;
    font-weight: 100;    
}

.reservate1{
    display: none;
}

.discover1{
    display: none;
}



& button{
    @include mixins.base-button;
    @include box-shadow.base-shadow;
    @include linear-gradient.gradient(0.9);
}

}

.loader{
    display: grid;
    place-items: center;
    position: fixed;
    background-color: #fff;
    height: 100vh;
    inset: 0; 
    z-index: 1;
    opacity: 0.9;
    animation: disappear 200ms 3s forwards;
    transform-origin: top;
    color:colors.$purple;
}

@keyframes disappear{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(0);
    }
}

@media screen and (min-width:variables.$breakpoint){

    .explorer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        background-image: url(./images/restaurants/restaurant1.jpg);
        height: 70vw;
        background-size: cover;
        color: white;
        gap: 30px;
        font-size: 30px;

        p{
            font-weight: bold;
            font-size: 20px;
        }

        .reservate{
            display: none;
    
        }

        .discover{
            display: none;
        }

        
    }

    }