
@use "../utils/linear-gradient.scss";
@use "../layout/box-shadow.scss";



.explorer{
    text-align: center;

& p{
    font-size:16px;
}

& button{
    width:60%;
    height:9vh ;
    border-radius: 32px;
    font-size: 17px;
    color: white;
    border: none;
    transition: transform 200ms;
    margin-top: 10px;

    @include box-shadow.base-shadow;
    @include linear-gradient.gradient(0.9);
}


& button:hover{
    transform: scale(1.02);
    opacity: 0.9;
}

}
