@use "../utils/colors.scss";

footer{
    background-color:colors.$darkgrey;
    padding: 16px 32px;
    color: white;
    margin-top: 80px;


    h2{
        font-family: "shrikhand", sans-serif;
        font-weight: 500;
        padding: 16px   ;
    }

    p{
        padding: 5px;
    }
}

