
@use "../utils/zoom.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";
@use "../layout/box-shadow.scss";

.tuto{
    counter-reset:steps;
    background: white;
    height: 110vw;
    padding: 25px;
    
   
    & ol{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        padding: 0;
      

        // @media (min-width:variables.$breakpoint){
        //     flex-direction: column;
        //     max-width: 90%
        // }
        
    }
    & li{
        position: relative;

        &::before{
            content: counter(steps);
            counter-increment: steps;
            background-color: colors.$purple;
            color:white ;
            width: 2 * variables.$tuto-bullet-height;
            height: 2 * variables.$tuto-bullet-height;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            left: -6px;   
        }
            background-color: #F6F6F6;
            padding: 24px 32px;
            flex-grow: 1;
            border-radius: 16px;
            list-style-type: none;

            &:hover{
                background-color:	rgb(230,230,250);

                & i.fas{
                    color: purple;
                }
            }

            @include box-shadow.base-shadow;
            &:hover{
            @include zoom.transform-zoom;
            }  


            & i.fas{
                margin-right:16px;
                color: colors.$lightgrey;
                font-size: 20px;
            }

            

    }

    
}   

@media screen and (min-width:variables.$breakpoint){
    
    .tuto{
        height: 15vw; 
    }
    

}

