@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

main {
  padding: 0 32px;
}

h2 {
  padding: 32px 0;
  margin: 0;
}

h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 8px;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #F3F3F3;
  text-align: center;
  width: 100vw;
}
.city i {
  font-size: 25px;
}

.explorer {
  text-align: center;
}
.explorer p {
  font-size: 16px;
}
.explorer button {
  width: 60%;
  height: 9vh;
  border-radius: 32px;
  font-size: 17px;
  color: white;
  border: none;
  transition: transform 200ms;
  margin-top: 10px;
  box-shadow: 2px 1px 8px -3px black;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
}
.tuto h2 {
  margin-bottom: 32px;
}
.tuto ol {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media (min-width: 767px) {
  .tuto ol {
    flex-direction: column;
    max-width: 90%;
  }
}
.tuto li {
  position: relative;
  background-color: #F6F6F6;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  list-style-type: none;
  box-shadow: 2px 1px 8px -3px black;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i.fas {
  margin-right: 16px;
  color: #949494;
  font-size: 20px;
}

.menus {
  background-color: #f6f6f6;
  margin-bottom: 32px;
}
.menus .menus__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 120px;
}
@media (min-width: 767px) {
  .menus .menus__card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.menus .menus__card .new {
  position: relative;
}
.menus .menus__card .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 70px;
  background-color: #99E2D0;
  color: green;
  text-align: center;
  display: grid;
  align-items: center;
  right: 16px;
  top: 16px;
  border-radius: 2px;
}
.menus .card {
  height: 240px;
  flex-grow: 1;
}
.menus .card__image {
  border-radius: 16px 16px 0 0;
  height: 240px;
  background-size: cover;
}
.menus .card__image-1 {
  background-image: url(../../images/restaurants/menu-1.jpg);
}
.menus .card__image-2 {
  background-image: url(../../images/restaurants/menu-2.jpg);
}
.menus .card__image-3 {
  background-image: url(../../images/restaurants/menu-3.jpg);
}
.menus .card__image-4 {
  background-image: url(../../images/restaurants/menu-4.jpg);
}
.menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
.menus .card__description h3,
.menus .card__description p {
  padding: 4px;
}
.menus .card__description p {
  font-weight: 100;
}
.menus .card__description i {
  font-size: 30px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card__description .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.menus .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
  margin-top: 80px;
}
footer h2 {
  font-family: "shrikhand", sans-serif;
  font-weight: 500;
  padding: 16px;
}
footer p {
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
