@use "../utils/linear-gradient.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";
@use "../utils/mixins.scss";
@use "../layout/box-shadow.scss";
@use "../utils/animations.scss";

body{
    background-color: colors.$lightergrey;

}

.menus h2{
    padding: 25px;
}
  

.menu__title{
    text-transform: uppercase;
    font-weight: 400;
    position: relative;


     &::after{
         position: absolute;
         top: 25px;
         left: 0px;
         content: "";
         height: 4px;
         width: 55px;
         background-color: colors.$green;
     } 

}
@media screen and (min-width:variables.$breakpoint){
    .menu__title{
        color: colors.$purple;
    }

    

}
    



#page-resto {

header::before{
    @include mixins.font-awesome;
    content: "\f060";
}

.banner img{
    display: block;
    width: 100%;
    height: 47vw;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width:variables.$breakpoint){
    .banner img{
        height: 35vw;
    }
}

.resto__main{
    margin-top: -35px;
    position: relative;

    
   .resto__main, .title__lapalette{ 
    padding: 32px 16px;
    font-family: "shrikhand", "cursive";
    border-radius:16px 16px 0 0;
    position: relative;
    background-color: colors.$lightergrey;
    
    }  
  
}



.resto-main{
    padding: 0 16px;
  }
  
  
     
      
        
    
    .order{
        margin-left: 25%;

       button{
          cursor: pointer;
          @include mixins.base-button;
          @include mixins.gradient;
      } 
    }

    

  }
  
  


 



@media screen and (min-width:variables.$breakpoint){
    .resto-main{
    padding: 16px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;  
    }   
    }



.resto__main{

    i{
        font-size: 30px;
        color: black;
        position:absolute;
        right: 16px;
        top: 40%;
        display: inline-block;
    
    }

    .fas{
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        font-weight: 900;
        transition: all 200ms ease-in-out;

        @include linear-gradient.gradient(0.9);

    }

    &:hover .fas{
        opacity: 1;   
    } 

}


.menus{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin:20px 0 20px 0;

    .menus__category{
        background-color: white;
        border-radius: 16px;
        overflow: hidden;
        animation: appear 1s;

        @include mixins.base-shadow; 
 
        .menu-item{
            display: flex;
            overflow: hidden;
            border-radius: 0 16px 16px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            gap: 10px;
   
        }

        .menu-item__price{
            margin-left: auto;
            font-weight: 900;
            padding:16px;
            display: flex;
            align-items: flex-end;
        }

        .menu-item__description{
            padding: 16px;
            overflow: hidden;
            

            h4,p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            }
        }

        .menu-item__check{
            $button-width:64px;
            background-color:colors.$green;
            margin-right:-$button-width;
            width: $button-width;  
            transition: margin-right 0.5s;
            display: grid;
            place-items: center;
            flex-shrink: 0; 
        }


        i{
            display:flex;
            justify-content: center;
            align-items: center;
            background:white ;
            aspect-ratio: 1;
            width: 32px;
            border-radius: 16px;
            color: colors.$green;
        }

        &   :hover {
            cursor: pointer;    

           .menu-item__check{
            margin-right: 0;

            i{
            @include animations.quarterspin;
             animation: quarterspin 0.5s ease-in-out ;   
            }

        } 
        }
        @media screen and (min-width:variables.$breakpoint){
            .menu-item__check{
                background-color:colors.$purple;
        }   
    }
}



}

